{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="row mt-2 mb-4 justify-content-center">
  <div class="col-sm-7">
  {% if next %}
    {% if user.is_authenticated %}
      Your account doesn't have access to this page. To proceed,
      please login with an account that has access.
    {% comment "this message is optional" %}
      {% else %}
        Please login to see this page.
    {% endcomment %}
    {% endif %}
  {% endif %}
  </div>
</div>

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="row mb-2 justify-content-center">
    <div class="col-sm-7">
      {{ form.username }}
    </div>
  </div>

  <div class="row mb-2 justify-content-center">
    <div class="col-sm-7">
      {{ form.password }}
    </div>
  </div>

  <div class="row mb-2 justify-content-center">
    <div class="col-sm-7">
      <div class="d-grid">
        <input type="submit" value="Login" class="btn btn-primary " />
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>

  <div class="row mb-2 justify-content-center">
    <div class="col-sm-7">
      <div class="row gx-1 justify-content-center">
        <div class="col-6 text-center">
          <a href="{% url 'password_reset' %}">Lost password?</a>
        </div>
        <div class="col-6 text-center">
          <a href="{% url 'register' %}">Register new user</a>
        </div>
      </div>
    </div>
  </div>

</form>


{% endblock %}
