{% extends "base_generic.html" %}

{% block content %}

<h2 class="mb-3">Komende Activiteiten</h2>

{% if event_list %}
    <div class="list-group">
    {% for event in event_list %}
    <a class="list-group-item list-group-item-action" href="{% url 'event' event.id %}">
        {{ event.date | date:"d F Y" }} &nbsp;
        <span style="font-size: small;">{{ event.date | date:"H:i" }}</span>
        <div style="float: right;">{{ event.nr_players_present }} verwacht</div> 
    </a>
    {% endfor %}
    </div>
{% else %}
    <p>No events registered.</p>
{% endif %}
{% endblock %}
