{% extends "base_generic.html" %}

{% block content %}

{% if training.verified %}
    <p><i>This training has been verified and closed.</i></p>
{% elif deadline_passed %}
    <p><i>Deadline {{training.deadline |date:"j M Y"}} to update presence has passed.</i></p>
{% else %}
    <form action="{% url 'training' training.id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6 d-grid">
            <input type="submit" name="yes" value="Ben er bij!" class="btn btn-success">
            </div>
            <div class="col-6 d-grid">
            <input type="submit" name="no" value="Ik kom niet." class="btn btn-danger">
            </div>
        </div>
    </form>
{% endif %}

{% if players %}
    <h4 class="mt-4">{{ training.date | date:"d F Y" }}: Verwacht {{ players_present }} spelers.</h4> 

    <ul class="list-group mt-4">
    {% for player in players %}
    <li class="list-group-item {% if not player.presence %} list-group-item-light {% else %} list-group-item-success {% endif %}">
        <i class="bi bi-1-square"></i>
        {% if player.presence %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-lg" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
        </svg>
        {% endif %}
        &nbsp;
        <b class="{% if not player.presence %} text-muted {% endif %}">{{ player.name }}</b>
        {% if training.verified and player.presence and not player.actual_presence %} &nbsp; <span class="badge bg-danger">boete</span> {% endif %}
    </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No players registered.</p>
{% endif %}
</ul>

{% if not training.verified and user_can_verify %}
<div class="d-grid mt-4">
<a class="btn btn-primary" href="{% url 'verify' training.id %}">Verify</a>
</div>
{% endif %}

{% endblock %}
