{% extends "base_generic.html" %}

{% block content %}

<form action="{% url 'training' training.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="choice" value="yes">
<input type="submit" value="Yes">
</form>

<form action="{% url 'training' training.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="choice" value="no">
<input type="submit" value="No">
</form>

{% if attendance %}
    <ul>
    {% for entry in attendance %}
    <li>{{ entry.player.name }}: {{ entry.presence }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No players registered.</p>
{% endif %}
</ul>

{% endblock %}
