{% extends "base_generic.html" %}

{% block content %}

<h2 class="mb-3">Komende Trainingen</h2>

{% if training_list %}
    <div class="list-group">
    {% for training in training_list %}
    <a class="list-group-item list-group-item-action" href="{% url 'training' training.id %}">
        {{ training.date | date:"d F Y" }} &nbsp;
        <span style="font-size: small;">{{ training.date | date:"H:i" }}</span>
    </a>
    {% endfor %}
    </div>
{% else %}
    <p>No trainings registered.</p>
{% endif %}
{% endblock %}
