{% extends "base_generic.html" %}

{% block content %}

{% if deadline_passed %}
    <p><i>Deadline to update presence has passed.</i></p>
{% else %}
    <form action="{% url 'training' training.id %}" method="post">
    {% csrf_token %}
    <input type="submit" name="yes" value="Yes">
    <input type="submit" name="no" value="No">
    </form>
{% endif %}

{% if players %}
    <ul>
    {% for player in players %}
    <li>{{ player.name }}: {{ player.presence }}, actual: {{ player.actual_presence }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No players registered.</p>
{% endif %}
</ul>

{% endblock %}
